body{
  font-family: 'Montserrat';
}

#features, #testimonials, #press, #pricing, #cta, #footer{
  text-align: center;
  padding: 7% 15%;
}

.container-fluid{
  padding: 3% 15% 7%;
}

.colored-section{
  background-color: #ff4c68;
  color: #fff;
}

.white-section{
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Montserrat';
  font-weight: bold;
}


h1 {
  font-size: 3rem;
  line-height: 1.5;
}

h2 {
  font-size: 2.75rem;
  line-height: 1.5;
}

a {
  font-family: 'Ubuntu';
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;

}

/* Navigation Bar */
nav li {
  padding: 0px 18px;
}

.download-btn{
  margin: 5% 3% 5% 0;
}


/* Title Image */
.title-image{
  width: 20%;
  transform: rotate(25deg);
  position: absolute;
  right: 23%;
}

.title-image-conatainer{
  position: relative;
}

/* Features Section */
#features{
  position: relative;
}

.feature h3{
  font-size: 1.5rem;
}

.feature p{
  color: #8f8f8f;
}

.fa-solid {
  color: #ef8172;
}

.fa-solid:hover {
  color: #ff4c68;
}

/* Testimonial Section */
#testimonials{
  background-color: #ef8172;
  height: 470px;
}

.testimonial-image{
  width: 16%;
  border-radius:  100%;
  /* margin: 20px; */
}

.carousel-item{
  padding: 7% 15%;
}

/* Press Section */
#press{
  background-color: #ef8172;
  padding: 15% 0% 3%;
}

.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
  font-weight: bold;
}

/* Pricing Section */
.pricing-header{
  margin: 7% 15% 3% 15%;
}

.card-button{
  width: 100%;
}

/* Call to Action */


/* Footer */
#footer p{
  color: #8f8f8f;
}

#footer i{
  color: black;
}


/* Media Query */
@media (max-width: 1028px){
  .title-image{
    position: static;
    transform: rotate(0);
    width: 60%;
  }

  #title{
    text-align: center;
  }
}
