body{
  font-family: 'Montserrat';
}

#title{
  background-color: #ff4c68;
}

.container-fluid{
  padding: 3% 15% 7%;
}

h1 {
  font-family: 'Montserrat';
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
}

h2 {
  font-family: 'Montserrat';
  font-size: 2.75rem;
  font-wight: 700;
  line-height: 1.5;
}

a {
  font-family: 'Ubuntu';
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;

}

/* Navigation Bar */
nav li {
  padding: 0px 18px;
}

.download-btn{
  margin: 5% 3% 5% 0;
}


/* Title Image */
.title-image{
  width: 20%;
  transform: rotate(25deg);
  position: absolute;
  right: 23%;
}

.title-image-conatainer{
  position: relative;
}

/* Features Section */
#features{
  background-color: #fff;
  position: relative;
  /* z-index: 1; */
}

.feature, .feature h3 {
    font-family: 'Montserrat';
}

.feature h3{
  font-weight: bold;
  font-size: 1.5rem;
}

.feature p{
  color: #8f8f8f;
}

.fa-solid {
  color: #ef8172;
}

.fa-solid:hover {
  color: #ff4c68;
}

/* Testimonial Section */
#testimonials{
  background-color: #ef8172;
  text-align: center;
  color: #fff;
  height: 470px;
}

.testimonial-image{
  width: 10%;
  border-radius:  100%;
  margin: 20px;
}

#testimonial-carousel{
  /* height: 350px; */
}

.carousel-item{
  padding: 7% 15%;
}

/* Press Section */
#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
  font-weight: bold;
}

/* Pricing Section */
#pricing{
  padding: 7% 15%;
  text-align: center;
}

#pricing h2, #pricing h3{
  font-weight: bold;
}

.pricing-header{
  margin: 7% 15% 3% 15%;
}

.card-button{
  width: 100%;
}

/* Call to Action */
#cta{
  background-color: #ff4c68;
  text-align: center;
  padding: 7% 15%;
}

#cta h3{
  font-weight: bold;
  color: white;
  font-size: 3.5rem;
}

/* Footer */
#footer{
  background-color: white;
  text-align: center;
  padding: 7% 15%;
}

#footer p{
  color: #8f8f8f;
}

#footer i{
  color: black;
}


/* Media Query */
@media (max-width: 1028px){
  .title-image{
    position: static;
    transform: rotate(0);
    width: 60%;
  }

  #title{
    text-align: center;
  }
}
